.header {
  color: #3c4043;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px rgba(112, 118, 140, 0.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 100;
  background-color: white;
}
.header > div {
  padding: 1rem;
}

