@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  padding: 1rem;
  border: solid 1px gainsboro;
  width: 20vw;
  min-width: 10rem;
  cursor: pointer;
}
.card.selected {
  border: solid 1px #000;
}
